title = "Technical staff"
url = "/my-zanaco/techinical-staff"
layout = "master"
is_hidden = 0
child_of = "home"
hide_crumb = 0
remove_crumb_trail = 0
crumb_disabled = 0

[siteSearchInclude]

[builderList staffMembers]
modelClass = "emedia\TeamManagement\Models\Staff"
scope = "-"
scopeValue = "{{ :scope }}"
displayColumn = "name"
noRecordsMessage = "No records found"
detailsPage = "staff-member"
detailsKeyColumn = "slug"
detailsUrlParameter = "slug"
pageNumber = "{{ :page }}"
sortColumn = "sort_order"
sortDirection = "asc"
==

{% set staffMembers = staffMembers.records %}
<div class="site-content">
    <div class="container">
        {% if staffMembers %}
        <div class="team-roster team-roster--card-compact row">
            {% for staffMember in staffMembers %}
            <div class="col-md-4">
                <div class="team-roster__item card">
                    <div class="card__content">
                        <div class="team-roster__content-wrapper">

                             <figure class="team-roster__player-img">
                                <img src="{{ staffMember.profile_image|media }}" alt="">
                            </figure>
                            <div class="team-roster__player-info">
                                <h3 class="team-roster__player-name">
                                    <span class="team-roster__player-first-name">{{ staffMember.first_name }}</span>
                                    <span class="team-roster__player-last-name">{{ staffMember.last_name }}</span>
                                    <span class="team-roster__player-staff-position">{{ staffMember.position }}</span>
                                </h3>
                            </div>
                            <div class="team-roster__player-details card">
                                <div class="team-roster__player-details-body">
                                    <div class="team-roster__player-details-excerpt">
                                        {{ staffMember.excerpt }}
                                    </div>
                                    <footer class="team-roster__player-details-footer">
                                        <a href="{{ detailsPage|page({ (detailsUrlParameter): attribute(staffMember, detailsKeyColumn) }) }}" class="btn btn-sm btn-block btn-primary-inverse">
                                            Read Full Bio
                                        </a>
                                        <a href="{{ staffMember.facebook }}" class="btn btn-sm btn-single-icon btn-facebook"><i class="fa fa-facebook"></i></a>
                                        <a href="{{ staffMember.twitter }}" class="btn btn-sm btn-single-icon btn-twitter"><i class="fa fa-twitter"></i></a>
                                    </footer>
                                </div>
                          
                            </div>
                           
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        {% endif %}
    </div>
</div>