[viewBag]
[staticMenu footerNavigation]
code = "footer-navigation"
==
<footer id="footer" class="footer">
    <div class="footer-widgets">
        <div class="footer-widgets__inner">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="footer-col-inner d-block d-flex justify-content-center">
                            <div class="widget widget--footer widget-contact-info">
                                <div class="widget__content">
                                    <div class="widget-contact-info__body info-block">
                                        <div class="info-block__item info-block__item--nopadding">
                                            <ul class="social-links">
                                                <li class="social-links__item">
                                                    <a href="https://web.facebook.com/ZanacoFc/" class="social-links__link" target="_blank"><i class="fa fa-facebook"></i> Facebook</a>
                                                </li>
                                                <li class="social-links__item">
                                                    <a href="https://www.twitter.com/ZanacoFc/" class="social-links__link" target="_blank"><i class="fa fa-twitter"></i> Twitter</a>
                                                </li>
                                                <li class="social-links__item">
                                                    <a href="https://www.instagram.com/zanaco_footballclub/" class="social-links__link" target="_blank"><i class="fa fa-instagram"></i> Instagram</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="container">
                <div class="sponsors">
                    <ul class="sponsors-logos">
                        <li class="sponsors__item">
                            <a href="https://www.zanaco.co.zm/" target="_blank"><img src="{{ 'assets/images/zanaco-sponsor-logo.png'|theme }}" alt="ZANACO logo"></a>
                        </li>
                        <li class="sponsors__item">
                            <a href="#"><img src="{{ 'assets/images/faz-logo.png'|theme }}" alt="Football Association of Zambia logo"></a>
                        </li>
                        <li class="sponsors__item">
                            <a href="https://www.cafonline.com" target="_blank"><img src="{{ 'assets/images/caf-logo.png'|theme }}" alt="CAF logo"></a>
                        </li>
                        <li class="sponsors__item">
                            <a href="https://www.fifa.com/" target="_blank"><img src="{{ 'assets/images/fifa-logo.png'|theme }}" alt="FIFA logo"></a>
                        </li>
                    </ul>
                </div>
            </div>
    </div>
    <div class="footer-secondary">
        <div class="container">
            <div class="footer-secondary__inner">
                <div class="row">
                    <div class="col-md-4">
                        <div class="footer-copyright"><a href="{{ 'home'| page }}">ZANACO Football Club </a> 2019 &nbsp; | &nbsp; All Rights Reserved</div>
                    </div>
                    <div class="col-md-8">
                        {% partial 'component/footer-menu-items' items=footerNavigation.menuItems %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>