<!-- Javascript Files
================================================== -->
<!-- Core JS -->

<script src="{{ 'assets/vendor/jquery/jquery.min.js'|theme }}"></script>
<script src="{{ 'assets/vendor/jquery/jquery-migrate.min.js'|theme }}"></script>
<script src="{{ 'assets/vendor/bootstrap/js/bootstrap.bundle.js'|theme }}"></script>
<script src="{{ 'assets/dist/js/core.js'|theme }}"></script>
<!-- Vendor JS -->
<script src="{{ 'assets/vendor/twitter/jquery.twitter.js'|theme }}"></script>
<!-- Template JS -->
<script src="{{ 'assets/dist/js/init.js'|theme }}"></script>
<script src="{{ 'assets/dist/js/custom.js'|theme }}"></script>
{% framework extras %}
{% scripts %} 
