[viewBag]
[staticMenu footerNavigation]
code = "footer-navigation"
==
<footer id="footer" class="footer">
    <!-- Footer Widgets -->
    <div class="footer-widgets">
        <div class="footer-widgets__inner">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="footer-col-inner d-block d-flex justify-content-center"">
                            <!-- Footer Logo / End -->
                            <!-- Widget: Contact Info -->
                            <div class="widget widget--footer widget-contact-info">
                                <div class="widget__content">
                                    <div class="widget-contact-info__body info-block">
                                        <div class="info-block__item info-block__item--nopadding">
                                            <ul class="social-links">
                                                <!-- Dynamic Social Media Links -->
                                                <li class="social-links__item">
                                                    <a href="#" class="social-links__link"><i class="fa fa-facebook"></i> Facebook</a>
                                                </li>
                                                <li class="social-links__item">
                                                    <a href="#" class="social-links__link"><i class="fa fa-twitter"></i> Twitter</a>
                                                </li>
                                                <li class="social-links__item">
                                                    <a href="#" class="social-links__link"><i class="fa fa-instagram"></i> Instagram</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Widget: Contact Info / End -->
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="container">
                <div class="sponsors">
                    <h6 class="sponsors-title">Our Sponsors:</h6>
                    <ul class="sponsors-logos">
                        <li class="sponsors__item">
                            <a href="https://www.zanaco.co.zm/" target="_blank"><img src="{{ 'assets/images/zanaco-sponsor-logo.png'|theme }}" alt=""></a>
                        </li>
                    </ul>
                </div>
            </div>
    </div>
    <!-- Footer Widgets / End -->
    <!-- Footer Secondary -->
    <div class="footer-secondary">
        <div class="container">
            <div class="footer-secondary__inner">
                <div class="row">
                    <div class="col-md-4">
                        <div class="footer-copyright"><a href="{{ 'home'| page }}">ZANACO</a> 2019 &nbsp; | &nbsp; All Rights Reserved</div>
                    </div>
                    <div class="col-md-8">
                        {% partial 'component/footer-menu-items' items=footerNavigation.menuItems %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer Secondary / End -->
</footer>
<!-- Footer / End -->