[viewBag]

[staticMenu primaryMenu]
code = "primary-navigation"
==
<!-- Header
================================================== -->

<!-- Header Mobile -->
<div class="header-mobile clearfix" id="header-mobile">
	<div class="header-mobile__logo">
		<a href="{{ 'home'| page }}"><img src="{{ 'assets/images/logo.png'|theme }}" alt="zanaco logo" class="header-mobile__logo-img"></a>
	</div>
	<div class="header-mobile__inner">
		<a id="header-mobile__toggle" class="burger-menu-icon"><span class="burger-menu-icon__line"></span></a>
		<span class="header-mobile__search-icon" id="header-mobile__search-icon"></span>
	</div>
</div>

<!-- Header Desktop -->
<header class="header header--layout-1">
	<!-- Header Secondary -->
	<div class="header__secondary">
		<div class="container">
			<!-- Header Search Form -->
			<div class="header-search-form">
				<form action="{{ 'search' | page }}" method="get" id="mobile-search-form" class="search-form">
					<input name="q" type="text" class="form-control header-mobile__search-control" value="" placeholder="Enter your search here...">
					<button type="submit" class="header-mobile__search-submit"><i class="fa fa-search"></i></button>
				</form>
				
			</div>
			<!-- Header Search Form / End -->
			<ul class="info-block info-block--header">
				<li class="info-block__item info-block__item--contact-primary">
					<svg role="img" class="df-icon df-icon--soccer-ball">
						<use xlink:href="{{ 'assets/images/icons-soccer.svg#soccer-ball'|theme }}"/>
					</svg>
					<h6 class="info-block__heading">Contact Us</h6>
					<a class="info-block__link" href="mailto:info@zanacofc.co.zm">info@zanacofootballclub.co.zm</a>
				</li>
				<li class="info-block__item info-block__item">
					<a href="https://www.zanaco.co.zm/" target="_blank"><img src="{{ 'assets/images/zanaco-sponsor-logo.png'|theme }}" alt="ZANACO logo"></a>
				</li>
			</ul>
		</div>
	</div>
	<!-- Header Secondary / End -->

	<!-- Header Primary -->
	<div class="header__primary">
		<div class="container">
			<div class="header__primary-inner">

				<!-- Header Logo -->
				<div class="header-logo">
					<a href="{{ 'home'| page }}"><img src="{{ 'assets/images/logo.png'|theme }}" alt="Zanaco Football Club" class="header-logo__img"></a>
				</div>
				<!-- Header Logo / End -->
				<!-- Main Navigation -->
				<nav class="main-nav clearfix">
				    {% partial 'component/menu-items' items=primaryMenu.menuItems class='main-nav__list' %}

					<!-- Social Links -->
					<ul class="social-links social-links--inline social-links--main-nav">

                        <li class="social-links__item">
                            <a href="https://web.facebook.com/ZanacoFc/" class="social-links__link" data-toggle="tooltip" data-placement="bottom" title="Facebook" target="_blank"><i class="fa fa fa-facebook"></i></a>
                        </li>
                        <li class="social-links__item">
                            <a href="https://www.twitter.com/ZanacoFc/" class="social-links__link" data-toggle="tooltip" data-placement="bottom" title="Twitter" target="_blank"><i class="fa fa fa-twitter"></i></a>
                        </li>
                        <li class="social-links__item">
                            <a href="https://www.instagram.com/zanaco_footballclub/" class="social-links__link" data-toggle="tooltip" data-placement="bottom" title="Instagram" target="_blank"><i class="fa fa fa-instagram"></i></a>
                        </li>
					</ul>
					<!-- Social Links / End -->


				</nav>
				<!-- Main Navigation / End -->
			</div>
		</div>
	</div>
	<!-- Header Primary / End -->

</header>
<!-- Header / End -->