<!-- Single Product Tabbed Content -->
<div class="product-tabs card card--xlg">

	<!-- Nav tabs -->
	<ul class="nav nav-tabs nav-justified nav-product-tabs" role="tablist">
		<li class="nav-item"><a class="nav-link active" href="#tab-desciption" role="tab" data-toggle="tab"><small>Product</small>Full Description</a></li>
	
	</ul>

	<!-- Tab panes -->
	<div class="tab-content card__content">

		<!-- Tab: Description -->
		<div role="tabpanel" class="tab-pane fade show active" id="tab-desciption">

			{% partial 'shop/product-tabs/product-tab-description' %}

		</div>
		<!-- Tab: Description / End -->
	</div>

</div>
<!-- Single Product Tabbed Content / End -->
